
/* Base styling for the body( About me) */
body {
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: rgb(0, 0, 0);
     line-height: 1.6em;
     font-size: larger;
     line-height: 2.5em;
     text-align: center;
     background-image:url('https://i.pinimg.com/564x/c2/5d/ef/c25def5aca8b4cce892c3c2aa7c8fe09.jpg');
     background-position:center;
     

    }
.content {
    background-color: transparent;
    padding: 50px;
    border-radius: 0 0 10px;
    margin: 20px;
    border: 2px solid;
    box-shadow: inset;
    font-size:15;

.profile-image {
    border: 2px solid #000;
    border-radius: 19px;
    padding: 5px;
    display: block;
    margin: 20px auto

}
}
#About-me {
    background-color: transparent;
    padding: 50px;
    border-radius: 0 0 10px;
    margin: 20px;
    border: 2px solid;
    box-shadow: inset;
    font-size: 12 ;
}
/* Nav links Colors */
a:-webkit-any-link {
    color: purple;
    cursor: pointer;
    text-decoration:none ;
}

header {
    background-color:  #efcbcb;;
    padding-top: 30px; 
    min-height: 70px;
    border-bottom: rgb(36, 20, 20);
}


footer {
    background-color:  #efcbcb;
    padding: 5px;
    border-radius: 0 0 1px;
    margin: 10px;
    line-height: 1em;
    border: 2px solid;
    font-family:cursive;
    font-size: small;
    color: purple;
   

}
@media (max-width:600px) {
    .nav-container {
        flex-direction: column;
    }
}